@font-face {
  font-family: poppins_light;
  src: url(./resources/poppins-light.ttf);
}
@font-face {
  font-family: poppins;
  src: url(./resources/poppins.ttf);
}
*{
  padding: 0;
  margin: 0;
  font-family: poppins_light;
  outline: none;
  color: #475467;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.App{
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 80px;
      border-radius: 50%;
    }
    span{
      margin-top: 10px;
      font-weight: 900;
      font-size: 18px;
    }
  }
  .links{
    width: 80%;
    .link{
      background-color: #EAECF0;
      display: flex;
      border-radius: 10px;
      height: 50px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #000;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .social{
    width: 100px;
    display: flex;
    justify-content: space-between;
    img{
      width: 30px
    }
  }
}
.Contact{
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 45%;
    min-width: 500px;
    header{
      h2{
        font-family: poppins;
      }
    }
    form{
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px 30px;
      .field{
        display: inherit;
        flex-wrap: inherit;
        width: 100%;
        flex-grow: 1;
        input, textarea{
          width: 100%;
          padding: 10px 20px;
          border: 1px solid #D0D5DD;
          font-weight: 100;
          font-size: 16px;
          border-radius:  10px;
          resize: none;
        }
      }
      ._small{
        width: 100px !important;
      }
      .check{
        width: 100%;
        display: flex;
        align-items: center;
        input{
          width: 20px;
          height: 20px;
          margin-right: 10px;
          background-color: red;
        }
      }
      #btn__submit{
        border-radius: 10px;
        padding: 10px;
        border: none;
        background-color: #1570EF;
        width: 100%;
        color: #fff;
        margin-top: 15px;
      }
    }
  }
}
footer{
  width: 80%;
  padding-top: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  color: #999;
  img{
    display: block;
    max-width:250px;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  footer{
    flex-direction: column;
    align-items: flex-start !important;
    padding-left: 50px;
    *{
      margin-bottom: 20px;
    }
  }
}